<h1 mat-dialog-title>Criar um novo usuário</h1>

<div mat-dialog-content>
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Nome</mat-label>
          <input formControlName="name" matInput >
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>CPF</mat-label>
          <input type="text" formControlName="cpf" mask="000.000.000-99" matInput >
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tipo de Usuário</mat-label>
          <mat-select formControlName="type" disableRipple>
            <mat-option [value]="userTypeEnum.Administrator">Administrador</mat-option>
            <mat-option [value]="userTypeEnum.Common">Usuário comum</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Status do Usuário</mat-label>
          <mat-select formControlName="status" disableRipple>
            <mat-option [value]="true">Ativo</mat-option>
            <mat-option [value]="false">Inativo</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput >
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Confirmar Email</mat-label>
          <input type="email" formControlName="confirmEmail" matInput >
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" formControlName="password" matInput >
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Confirmar Senhar</mat-label>
          <input type="password" formControlName="confirmPassword" matInput >
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="text-align-end" mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button (click)="save()" [disabled]="!userForm.valid" mat-raised-button color="primary">Salvar</button>
</div>
